#kulso
{
    background-color: red;
    width: 12cm;
    height: 12cm;
    position: fixed;
    text-align: center;
}
#kozepso
{
    background-color: green;
    width: 8cm;
    height: 8cm;
    position: fixed;
    margin-top: 2cm;
    margin-left: 2cm;
    text-align: center;
}
#belso
{
    background-color: blue;
    width: 4cm;
    height: 4cm;
    position: fixed;
    margin-top: 4cm;
    margin-left: 4cm;
    text-align: center;
}