ul
{
    width: 50%;
    height: 2cm;
    padding: 1cm 0 0 0;
    border: 20px dotted green;
    text-align: center;
}
li
{
    background-color: lightseagreen;
    height: 1cm;
    padding: 3mm;
    list-style: none;
    display: inline;
}