p
{
    background-color: lavenderblush;
    padding: 10px;
    margin: 1%;
    width: 20%;
    display:inline-block;
    text-align: justify;
    float: left;
}
p::first-letter
{
    font-size: 1.8em;
    font-weight: bolder;
    color: red;
}